@use './mixins' as *;

@font-face {
    font-family: 'Avenir-Regular';
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir-Demi';
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
    font-weight: 600;
}


body {
    margin: 0;
    font: 1rem 'Avenir-Regular';
}

p {
    margin: 0;
}

.header {
    background: #323232;
    display: flex;
    flex-direction: column;
    &__logo {
        text-align: center;
        margin: 1rem auto 0.5rem;
        
        &-link {
            text-decoration: none;
            color: white;
            display: flex;
        }
    }

    &__list {
        list-style: none;
        font-size: .75rem;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin: 0.45rem 0 0;
        text-align: center;

        &-item-bio, &-item-shows {
            min-width: 50%;
            padding-bottom: .75rem;
        }
        &-link-bio, &-link-shows {
            text-decoration: none;
            color: white;
            padding: 0 30% 1rem;
        }
        &-link {
            text-decoration: none;
            color: white;
            padding: 1% 34% 6%;
        }
    }

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;

        &__logo {
            margin: 1.5rem 4rem 1.25rem 2.25rem;
            width: 55%;
        }
        &__list-item-shows, &__list-item-bio {
            padding: 1.5rem 0;
            min-width: 25%;
        }
        &__list-item-bio {
            margin-right: 3.5rem;
        }
        &__list-link-bio {
            text-decoration: none;
            color: white;
            padding: 0;
        }
        &__list-link-shows {
            text-decoration: none;
            color: #e1e1e1;
            padding: 0;
        }
        &__list-link {
            padding: 1.5rem 0;
        }
    }

    @include desktop { 

        &__logo {
            margin: 2rem 4rem 2rem 8rem;
        }
        &__list-item-bio {
            padding: 2rem 0 .75rem;
            margin-right: 3rem;
            min-width: 38%;
        }
        &__list-item-shows {
            padding: 2rem 0 .75rem;
            min-width: 25%;
        }
    }
}


.footer {
    background: #323232;
    padding: 0.5rem 1rem;
    color: white;

    &__heading {
        font: 1.5rem 'Avenir-Demi';
        margin-bottom: 1rem;
    }
    &__heading-box {
        max-width: 25rem;
    }
    &__icon-box {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    &__subtext-name {
        font-weight: 700;
        font-size: .75rem;
        line-height: .6rem;
        margin: 1.75rem 0 0;
    }
    &__subtext-company, &__subtext-location {
        @extend .footer__subtext-name;
        margin: .625rem 0 0;
    }
    &__subtext-address, &__subtext-contact  {
        @extend .footer__subtext-name;
        font-weight: 400;
    }
    &__subtext-location {
        font-weight: 400;
    }
    &__text-box-one, &__text-box-two {
        margin: 0 0 2.25rem;
    }
    &__logo-box {
        position: absolute;
        transform: translateY(470px)
    }
    &__logo {
        margin: 3.25rem 0 0;
        text-transform: uppercase;
        padding-top: 1rem;
    }
    &__copyright {
        font-size: .7rem;
        padding-top: 6.25rem;
        margin: .7rem 0;
    }
    &__icon-instagram, &__icon-facebook, &__icon-twitter {
        width: 115%;
    }

    @include tablet {
        padding: 2rem 2.25rem 1.5rem;
    
        &__heading-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 95vw;
        }
        &__heading {
            font-size: 2.25rem;
        }
        &__logo {
            margin: 0;
            padding-top: .9rem;
        }
        &__logo-box {
            position: static;
            transform: none;
        }
        &__icon-box {
            max-width: 7.4rem;
            padding: 0 11rem 0 .25rem;
        }
        &__icon-link {
            padding-top: .6rem;
        }
        &__text-box {
            display: flex;
            justify-content: space-between;
        }
        &__text-box-one, &__text-box-two {
            margin: 0 3.25rem 1rem 0;
        }
        &__subtext-name, &__subtext-company, &__subtext-location, &__subtext-address, &__subtext-contact {
            font-size: .875rem;
            line-height: .7rem;
            margin: 1.75rem 0 0;
        }
        &__subtext-company, &__subtext-location {
            margin: .625rem 0 0;
        }
        &__subtext-address, &__subtext-contact {
            margin: 2.25rem 0 0;
        }
        &__copyright {
            padding-top: 2rem;
            font-size: .875rem;
        }
    }
    @include desktop {
        padding: 1.15rem 0rem 1.5rem;

        &__box {
            max-width: 80vw;
            margin: auto;
        }
        &__icon-box {
            max-width: 7.4rem;
            padding-right: 32.5rem;
        }
        &__heading {
            font-size: 2.25rem;
            padding-right: 3.5rem;
        }
        &__heading-box {
            display: flex;
            align-items: center;
            max-width: 150vw;
        }
        &__logo-box {
            padding-right: 0em;
        }
        &__text-box {
            justify-content: space-between;
        }
        &__text-box-one, &__text-box-two {
            margin: 0 0rem 1rem 0;
        }
        &__text-box-three {
            margin-right: 17rem;
        }
        &__subtext-name, &__subtext-address, &__subtext-contact, &__subtext-location, &__subtext-company {
            font-size: .8125rem;
            line-height: .7rem;
            letter-spacing: .75px;
            margin: 1.5rem 0 0;
        }
        &__subtext-address, &__subtext-contact {
            margin: 2rem 0 0;
        }
        &__subtext-location, &__subtext-company {
            margin: .625rem 0 0,
        }
        &__copyright {
            padding-top: 1.5rem;
            font-size: .875rem;
        }
    }
}