@font-face {
  font-family: "Avenir-Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}

.header {
  background: #323232;
  display: flex;
  flex-direction: column;
}
.header__list {
  display: flex;
  font-family: "avenir-demi";
  text-align: center;
}
.header__logo {
  font-family: "Avenir-Regular";
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  margin: 1rem auto 0;
}
.header__list {
  font-family: "Avenir-Regular";
  list-style: none;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0.45rem;
  text-align: center;
}
.header__list-item--bio, .header__list-item--shows {
  min-width: 50%;
  padding-bottom: 0.55rem;
}
.header__list-link {
  text-decoration: none;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
  }
  .header__logo {
    margin-left: 2rem;
    margin-right: 4rem;
    margin-top: 1.35rem;
    margin-bottom: 1.25rem;
  }
  .header__list-item--bio {
    min-width: 40%;
    margin-right: 3.75rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .header__list-link {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .header__list-item--shows {
    min-width: 20%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

#header__list--bio {
  border-bottom: white solid 0.25rem;
}

#header__list--bio-link {
  color: white;
  font-weight: 800;
}

#header__list--shows:hover {
  border-bottom: white solid 4 0.25rem;
}

#header__list--shows-link {
  color: #e1e1e1;
}

.hero {
  background: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__overlay {
  background: rgba(50, 50, 50, 0.5);
}
.hero__heading {
  margin: 0;
  color: white;
  font-size: 1.5rem;
  font-family: "avenir-demi";
  padding: 5.25rem 1rem;
}
@media (min-width: 768px) {
  .hero__heading {
    padding: 12rem 1rem;
    font-size: 3.5rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0;
  color: #323232;
}
.about__heading {
  font-family: "avenir-demi";
  margin: 1.75rem 0 1rem;
  line-height: 1.25rem;
}
.about__image {
  width: 100%;
}
.about__quote {
  font-family: "avenir-demi";
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}
.about__speaker {
  font-family: "avenir-demi";
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 0.35rem 0 0.75rem;
}
.about__subheading {
  font-family: "avenir-regular";
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}
.about__text {
  font-family: "avenir-regular";
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
  line-height: 1.15rem;
  font-size: 0.8rem;
  margin-right: 0.75rem;
}
@media (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about__heading-box {
    padding-left: 1.25rem;
  }
  .about__image-box {
    margin: 1.25rem 5.5rem;
  }
  .about__heading {
    display: flex;
    font-size: 2rem;
    padding-top: 2rem;
  }
  .about__image {
    width: 100%;
  }
  .about__quote {
    font-size: 1.35rem;
    line-height: 2rem;
    word-spacing: 1.1px;
  }
  .about__speaker {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
  .about__subheading {
    font-size: 1.5rem;
    font-family: avenir-demi;
  }
  .about__text {
    line-height: 1.4rem;
    font-size: 0.85rem;
  }
  .about__text-box {
    display: flex;
  }
}

.gallery {
  background: #fafafa;
}
.gallery__heading {
  font-family: "avenir-demi";
  color: #323232;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0 1rem 0;
  padding-top: 1.5rem;
}
.gallery__image-box {
  margin: 0 1rem 0;
}
.gallery__image {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-size: 2.25rem;
    padding: 3rem 0.75rem 0.35rem;
  }
  .gallery__image-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .gallery__image {
    width: 30%;
    padding: 0.25rem 0.75rem;
  }
}

.footer {
  background: #323232;
  padding: 0.5rem 1rem;
  color: white;
}
.footer__heading {
  font-family: "avenir-demi";
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footer__icon-box {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.footer__subtext--name {
  font-family: "avenir-regular";
  font-weight: 800;
  font-size: 0.77rem;
  line-height: 0.6rem;
  margin: 1.75rem 0 0;
}
.footer__subtext--location, .footer__subtext--contact {
  font-family: "avenir-regular";
  font-weight: 100;
  font-size: 0.77rem;
  margin: 1.75rem 0 0;
  line-height: 0.6rem;
}
.footer__text-box--one, .footer__text-box--two {
  margin: 0 0 2.25rem;
}
.footer__logo {
  text-align: left;
  margin: 3.25rem 0 0;
  font-family: "Avenir-Regular";
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
  padding-top: 1rem;
}
.footer__copyright {
  font-family: "avenir-regular";
  font-size: 0.7rem;
}
.footer__icon--instagram, .footer__icon--facebook, .footer__icon--twitter {
  width: 115%;
}/*# sourceMappingURL=bio.css.map */