.hero {
  background: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__overlay {
  background: rgba(50, 50, 50, 0.5);
}
.hero__heading {
  font: 1.5rem "Avenir-Demi";
  margin: 0;
  color: white;
  padding: 5.25rem 1rem;
}
@media (min-width: 768px) {
  .hero__heading {
    padding: 12rem 1rem;
    font-size: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    padding: 17.25rem 8rem 15rem;
    font-size: 3.75rem;
  }
}

.about {
  font: 1rem "Avenir-Demi";
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem;
  color: #323232;
}
.about__heading {
  margin: 1.75rem 0 1rem;
  line-height: 1.25rem;
}
.about__image {
  width: 100%;
}
.about__quote, .about__speaker {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}
.about__speaker {
  margin: 0.35rem 0 1.5rem;
}
.about__subheading, .about__text--one, .about__text--two {
  font: 0.85rem "Avenir-Regular";
  margin-bottom: 0.2rem;
}
.about__text--one, .about__text--two {
  line-height: 1.15rem;
  font-size: 0.8rem;
  margin-right: 0.75rem;
}
@media (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about__image-box {
    margin: 1.25rem 5.5rem 0.75rem;
  }
  .about__heading {
    font-size: 2rem;
    padding: 2rem 0 0 2.25rem;
  }
  .about__image {
    width: 100%;
  }
  .about__quote, .about__speaker {
    font-size: 1.35rem;
    line-height: 2rem;
    word-spacing: 1.1px;
  }
  .about__speaker {
    margin-bottom: 3rem;
  }
  .about__subheading, .about__text--one, .about__text--two {
    font: 1.5rem "Avenir-Demi";
  }
  .about__text-box {
    display: flex;
  }
  .about__text--one {
    font: 0.85rem "Avenir-Regular";
    line-height: 1.4rem;
    margin-right: 1.75rem;
  }
  .about__text--two {
    font: 0.85rem "Avenir-Regular";
    line-height: 1.4rem;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  .about__heading {
    padding: 2rem 0 0.5rem 7rem;
    font-size: 2.3rem;
  }
  .about__image-box {
    margin: 1.25rem 12.5rem;
  }
  .about__quote, .about__speaker {
    font-size: 1.35rem;
    line-height: 2rem;
    word-spacing: 1.1px;
    padding: 0 12rem 0.5rem 0;
  }
  .about__text {
    margin-right: 2rem;
  }
}

.gallery {
  background: #fafafa;
  margin-bottom: 0.75rem;
  padding: 0 1rem;
}
.gallery__heading {
  font: 1.5rem "Avenir-Demi";
  color: #323232;
  margin: 0;
  padding-top: 1.5rem;
}
.gallery__image {
  max-width: 100%;
  height: auto;
  margin-top: 0.8rem;
}
@media (min-width: 768px) {
  .gallery {
    margin-bottom: 0rem;
  }
  .gallery__heading {
    font-size: 2.25rem;
    padding: 3rem 0.75rem 0.35rem;
  }
  .gallery__image-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1.5rem;
  }
  .gallery__image {
    width: 30%;
    padding: 0.25rem 0.75rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0 6.25rem 0.75rem;
  }
  .gallery__heading {
    font-size: 2.25rem;
    padding: 3rem 1.75rem 0.35rem;
  }
}/*# sourceMappingURL=bio.css.map */