@use './partials/global' as *;
@use './partials/mixins' as *;

.header {
    background: #323232;
    display: flex;
    flex-direction: column;

    &__logo {
        font-family: 'Avenir-Regular';
        color: white;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        margin: 0 auto;
        padding-top: 1rem;
    }
    &__list {
        font-family: 'Avenir-Regular';
        list-style: none;
        font-size: .85rem;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0.45rem;
        text-align: center;

        &-item {
            min-width: 50%;
            padding-bottom: .55rem;
        }
        &-link {
            text-decoration: none;
        }
    }    
}

#header__list--bio {
    border-bottom: white solid 4px;
}
#header__list--bio-link {
    color: white;
    font-weight: 800;
}
#header__list--shows:hover {
    border-bottom: white solid 4px;
}
#header__list--shows-link {
    color: #e1e1e1;
}

.hero {
    background: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    &__overlay {
        background: rgba(50,50,50, 0.5)
    }
    &__heading {
        margin: 0;
        color: white;
        font-size: 1.5rem;
        font-family: 'avenir-demi';
        padding: 5.25rem 1rem;
    }
}

.about {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0;
    color:#323232;

    &__heading {
        font-family: 'avenir-demi';
        margin: 1.75rem 0 1rem;
        line-height: 1.25rem;

    }
    &__quote {
        font-family: 'avenir-demi';
        font-size: .9rem;
        line-height: 24px;
        margin-bottom: 0;
    }
    &__speaker {
        @extend .about__quote;
        margin: .35rem 0 .75rem;
    }
    &__subheading {
        font-family: 'avenir-regular';
        font-size: .85rem; 
        margin-bottom: 0.2rem;
    }
    &__text {
        @extend .about__subheading;
        line-height: 1.15rem;
        font-size: .8rem;
        margin-right: .75rem;
    }
}

.gallery {
    background: #fafafa;
    &__heading {
        font-family: 'avenir-demi';
        color:#323232;
        font-weight: 800;
        font-size: 1.5rem;
        margin: 0 1rem 0;
        padding-top: 1.5rem;
    }

    &__image-box {
        margin: 0 1rem 0;
    }
    &__image {
        max-width: 100%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.footer {
    background: #323232;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: white;

    &__heading {
        font-family: 'avenir-demi';
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    &__icon-box {
        display: flex;
        justify-content: space-between;
        width: 40%;
 
    }
    &__subtext--name {
        font-family: 'avenir-regular';
        font-weight: 800;
        font-size: .77rem;
        line-height: .6rem;
        margin: 1.75rem 0 0;
    }
    &__subtext--location, &__subtext--contact  {
        font-family: 'avenir-regular';
        font-weight: 100;
        font-size: .77rem;
        margin: 1.75rem 0 0;
        line-height: .6rem;
    }
    &__text-box--one, &__text-box--two {
        margin: 0 0 2.25rem;
    }
    &__logo {
        @extend .header__logo;
        text-align: left;
        font-size: 1.5rem;
        margin: 3.25rem 0 0;
    }
    &__copyright {
        font-family: 'avenir-regular';
        font-size: .7rem;
    }
    &__icon--instagram, &__icon--facebook, &__icon--twitter {
        width: 115%;
    }
}