@use './partials/mixins' as *;
@use './partials/global' as *;

.header__list-item-shows {
    border-bottom: white solid 0.25rem;
    font-family: 'Avenir-Demi';
}
.header__list-link-bio {
    color: #e1e1e1;
}
#header__list-bio:hover {
    border-bottom: white solid 0.25rem;
}
#header__list-bio-link:hover{
    color: white;
}

.hero {
    font: 0.75rem 'Avenir-Regular';
    background: url("../assets/images/hero-shows.jpg");
    background-size: cover;

    &__overlay {
        background: rgba(50,50,50, 0.5);
        padding: 2.25rem 1rem 1.75rem;
    }
    &__heading {
        margin: 0;
        color: white;
        padding-bottom: 1.5rem;
        font-weight: 100;
    }
    &__subheading {
        margin: 0;
        padding: 0 4rem 1rem 0;
        color: white;
        line-height: 2rem;
    }
    &__iframe {
        width: 100%;
        height: 6.25rem;
    }
    @include tablet {
        &__overlay {
            padding: 3.75rem 2.25rem 3.5rem;
        }
        &__heading {
            font-size: 1.5rem;
        }
        &__subheading {
            font-size: 3.75rem;
            padding-right: 9rem;
            line-height: 4.4rem;
        }
        &__music-player {
            margin-right: 18rem;
        }
        &__iframe {
            width: 100%;
            height: 9rem;
        }
    }
    @include desktop {
        &__overlay {
            display: flex;
            padding: 12.5rem 6.5rem 14rem 8rem;
        }
        &__text-box {
            width: 50%;
            display: flex;
            flex-direction: column;
        }
        &__heading {
            font-size: 1.5rem;
            padding-bottom: 1.25rem;
        }
        &__subheading {
            margin: 0;
            padding: 0 3rem 0 0;
            line-height: 4rem;
        }
        &__music-player {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 2.5rem 1.5rem 0 0;
            padding: 0;
            width: 50%;
        }
        &__iframe {
            width: 80%;
            height: 8rem;
        }
    }
}

.shows {
    margin: 0 0 1rem;
    font: 1rem 'Avenir-Regular';
    
    &__heading {
        font: 1.5rem 'Avenir-Demi';
        color: #323232;
        padding-left: 1rem;
        margin-bottom: 0;
    }
    &__card {
        padding: 1rem 1rem;
        border-bottom: 1px #e1e1e1 solid;
    }
    &__card:hover {
        background: #fafafa;
    }
    &__card--selected {
        background: #e1e1e1;
    }
    &__date-top, &__date, &__venue-top, &__venue, &__location-top, &__location {
        color: #323232;
    }
    &__date-heading-top, &__venue-heading-top, &__location-heading-top, &__date-heading, &__venue-heading, &__location-heading {
        font-size: 10px;
        text-transform: uppercase;
        padding-bottom: .25rem;
        color: #afafaf;
        font-weight: 700;
    }
    &__venue, &__venue-top, &__location, &__location-top {
        padding-bottom: .5rem;
        font-size: .8rem;
    }
    &__date, &__date-top {
        @extend .shows__venue;
        font-family: "Avenir-Demi"
    }
    &__button {
        background: #323232;
        color: white;
        font: .85rem "Avenir-Demi";
        letter-spacing: 1px;
        border: none;
        border-radius: .25rem;
        text-transform: uppercase;
        padding: .75rem 0 .5rem;
        width: 100%;
        cursor: pointer;
    }
    &__categories-box {
        display: none;
    }
    &__button:hover {
        background: black;
    }
    @include tablet {
        margin: 0 0 2rem;

        &__heading {
            margin: 2.5rem 0 0 1rem;
            font-size: 2.25rem;
        }
        &__card {
            margin: 0 1.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__date, &__venue, &__location {
            padding-bottom: 0;
        }
        &__date-heading-top {
            padding-top: 1.5rem;
            width: 30%;
        }
        &__venue-heading-top {
            padding-top: 1.5rem;
            width: 25%
        }
        &__location-heading-top{
            padding-top: 1.5rem;
            width: 15%;
        }
        &__date-heading, &__venue-heading, &__location-heading {
            display: none;
        }
        &__venue-box, &__venue-top {
            width: 6.5rem;
        }
        &__date-box, &__date-box-top {
            width: 8rem;
        }
        &__button, &__button-top {
            max-width: 21%;
            height: 100%;
            padding: .9rem 0 .7rem;
            font-family: 'avenir-regular'
        }
        &__button-top {
            margin-top: 2rem;
        }
        &__categories-box {
            display: flex;
            justify-content: space-between;
            margin: 0 0 0 2.25rem;
            margin-right: 37.5%;
        }
    }
    @include desktop {
        margin-bottom: 2.5rem;
        
        &__box {
            margin: 1rem 7rem 0 23.5rem;

        }
        &__section-box {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        &__heading {
            margin: 3rem 7.5rem 0 7rem;
            font-size: 2.25rem;
        }
        &__date-heading, &__venue-heading, &__location-heading {
            display: none;
        }
        &__date-heading-top {
            width: 59%;
        }
        &__venue-heading-top {
            width: 41%;
        }
        &__date-box, &__date-box-top {
            width: 11em;
        }
        &__button, &__button-top {
            max-width: 18%;
            height: 100%;
            padding: .9rem 0 .7rem;
            font-family: 'avenir-regular'
        }
        &__button-top {
            margin-top: 3.25rem;
        }
        &__venue-box, &__venue-top {
            width: 6rem;
        }
        &__categories-box {
            margin-right: 30%;
            margin-left: 24.5rem;
        }
        &__card {
            margin: 0;
            padding-bottom: 1rem;
        }
    }
}
