@font-face {
  font-family: "Avenir-Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
body {
  margin: 0;
  font: 1rem "Avenir-Regular";
}

p {
  margin: 0;
}

.header {
  background: #323232;
  display: flex;
  flex-direction: column;
}
.header__logo {
  text-align: center;
  margin: 1rem auto 0.5rem;
}
.header__logo-link {
  text-decoration: none;
  color: white;
  display: flex;
}
.header__list {
  list-style: none;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0.45rem 0 0;
  text-align: center;
}
.header__list-item-bio, .header__list-item-shows {
  min-width: 50%;
  padding-bottom: 0.75rem;
}
.header__list-link-bio, .header__list-link-shows {
  text-decoration: none;
  color: white;
  padding: 0 30% 1rem;
}
.header__list-link {
  text-decoration: none;
  color: white;
  padding: 1% 34% 6%;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
  }
  .header__logo {
    margin: 1.5rem 4rem 1.25rem 2.25rem;
    width: 55%;
  }
  .header__list-item-shows, .header__list-item-bio {
    padding: 1.5rem 0;
    min-width: 25%;
  }
  .header__list-item-bio {
    margin-right: 3.5rem;
  }
  .header__list-link-bio {
    text-decoration: none;
    color: white;
    padding: 0;
  }
  .header__list-link-shows {
    text-decoration: none;
    color: #e1e1e1;
    padding: 0;
  }
  .header__list-link {
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin: 2rem 4rem 2rem 8rem;
  }
  .header__list-item-bio {
    padding: 2rem 0 0.75rem;
    margin-right: 3rem;
    min-width: 38%;
  }
  .header__list-item-shows {
    padding: 2rem 0 0.75rem;
    min-width: 25%;
  }
}

.footer {
  background: #323232;
  padding: 0.5rem 1rem;
  color: white;
}
.footer__heading {
  font: 1.5rem "Avenir-Demi";
  margin-bottom: 1rem;
}
.footer__heading-box {
  max-width: 25rem;
}
.footer__icon-box {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.footer__subtext-name, .footer__subtext-address, .footer__subtext-contact, .footer__subtext-company, .footer__subtext-location {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.6rem;
  margin: 1.75rem 0 0;
}
.footer__subtext-company, .footer__subtext-location {
  margin: 0.625rem 0 0;
}
.footer__subtext-address, .footer__subtext-contact {
  font-weight: 400;
}
.footer__subtext-location {
  font-weight: 400;
}
.footer__text-box-one, .footer__text-box-two {
  margin: 0 0 2.25rem;
}
.footer__logo-box {
  position: absolute;
  transform: translateY(470px);
}
.footer__logo {
  margin: 3.25rem 0 0;
  text-transform: uppercase;
  padding-top: 1rem;
}
.footer__copyright {
  font-size: 0.7rem;
  padding-top: 6.25rem;
  margin: 0.7rem 0;
}
.footer__icon-instagram, .footer__icon-facebook, .footer__icon-twitter {
  width: 115%;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem 2.25rem 1.5rem;
  }
  .footer__heading-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95vw;
  }
  .footer__heading {
    font-size: 2.25rem;
  }
  .footer__logo {
    margin: 0;
    padding-top: 0.9rem;
  }
  .footer__logo-box {
    position: static;
    transform: none;
  }
  .footer__icon-box {
    max-width: 7.4rem;
    padding: 0 11rem 0 0.25rem;
  }
  .footer__icon-link {
    padding-top: 0.6rem;
  }
  .footer__text-box {
    display: flex;
    justify-content: space-between;
  }
  .footer__text-box-one, .footer__text-box-two {
    margin: 0 3.25rem 1rem 0;
  }
  .footer__subtext-name, .footer__subtext-company, .footer__subtext-location, .footer__subtext-address, .footer__subtext-contact {
    font-size: 0.875rem;
    line-height: 0.7rem;
    margin: 1.75rem 0 0;
  }
  .footer__subtext-company, .footer__subtext-location {
    margin: 0.625rem 0 0;
  }
  .footer__subtext-address, .footer__subtext-contact {
    margin: 2.25rem 0 0;
  }
  .footer__copyright {
    padding-top: 2rem;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 1.15rem 0rem 1.5rem;
  }
  .footer__box {
    max-width: 80vw;
    margin: auto;
  }
  .footer__icon-box {
    max-width: 7.4rem;
    padding-right: 32.5rem;
  }
  .footer__heading {
    font-size: 2.25rem;
    padding-right: 3.5rem;
  }
  .footer__heading-box {
    display: flex;
    align-items: center;
    max-width: 150vw;
  }
  .footer__logo-box {
    padding-right: 0em;
  }
  .footer__text-box {
    justify-content: space-between;
  }
  .footer__text-box-one, .footer__text-box-two {
    margin: 0 0rem 1rem 0;
  }
  .footer__text-box-three {
    margin-right: 17rem;
  }
  .footer__subtext-name, .footer__subtext-address, .footer__subtext-contact, .footer__subtext-location, .footer__subtext-company {
    font-size: 0.8125rem;
    line-height: 0.7rem;
    letter-spacing: 0.75px;
    margin: 1.5rem 0 0;
  }
  .footer__subtext-address, .footer__subtext-contact {
    margin: 2rem 0 0;
  }
  .footer__subtext-location, .footer__subtext-company {
    margin: 0.625rem 0 0;
  }
  .footer__copyright {
    padding-top: 1.5rem;
    font-size: 0.875rem;
  }
}

.header__list-item-shows {
  border-bottom: white solid 0.25rem;
  font-family: "Avenir-Demi";
}

.header__list-link-bio {
  color: #e1e1e1;
}

#header__list-bio:hover {
  border-bottom: white solid 0.25rem;
}

#header__list-bio-link:hover {
  color: white;
}

.hero {
  font: 0.75rem "Avenir-Regular";
  background: url("../assets/images/hero-shows.jpg");
  background-size: cover;
}
.hero__overlay {
  background: rgba(50, 50, 50, 0.5);
  padding: 2.25rem 1rem 1.75rem;
}
.hero__heading {
  margin: 0;
  color: white;
  padding-bottom: 1.5rem;
  font-weight: 100;
}
.hero__subheading {
  margin: 0;
  padding: 0 4rem 1rem 0;
  color: white;
  line-height: 2rem;
}
.hero__iframe {
  width: 100%;
  height: 6.25rem;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    padding: 3.75rem 2.25rem 3.5rem;
  }
  .hero__heading {
    font-size: 1.5rem;
  }
  .hero__subheading {
    font-size: 3.75rem;
    padding-right: 9rem;
    line-height: 4.4rem;
  }
  .hero__music-player {
    margin-right: 18rem;
  }
  .hero__iframe {
    width: 100%;
    height: 9rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay {
    display: flex;
    padding: 12.5rem 6.5rem 14rem 8rem;
  }
  .hero__text-box {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .hero__heading {
    font-size: 1.5rem;
    padding-bottom: 1.25rem;
  }
  .hero__subheading {
    margin: 0;
    padding: 0 3rem 0 0;
    line-height: 4rem;
  }
  .hero__music-player {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2.5rem 1.5rem 0 0;
    padding: 0;
    width: 50%;
  }
  .hero__iframe {
    width: 80%;
    height: 8rem;
  }
}

.shows {
  margin: 0 0 1rem;
  font: 1rem "Avenir-Regular";
}
.shows__heading {
  font: 1.5rem "Avenir-Demi";
  color: #323232;
  padding-left: 1rem;
  margin-bottom: 0;
}
.shows__card {
  padding: 1rem 1rem;
  border-bottom: 1px #e1e1e1 solid;
}
.shows__card:hover {
  background: #fafafa;
}
.shows__card--selected {
  background: #e1e1e1;
}
.shows__date-top, .shows__date, .shows__venue-top, .shows__venue, .shows__location-top, .shows__location {
  color: #323232;
}
.shows__date-heading-top, .shows__venue-heading-top, .shows__location-heading-top, .shows__date-heading, .shows__venue-heading, .shows__location-heading {
  font-size: 0.625rem;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
  color: #afafaf;
  font-weight: 700;
}
.shows__venue, .shows__date, .shows__date-top, .shows__venue-top, .shows__location, .shows__location-top {
  padding-bottom: 0.5rem;
  font-size: 0.8125rem;
}
.shows__date, .shows__date-top {
  font-family: "Avenir-Demi";
}
.shows__button {
  background: #323232;
  color: white;
  font: 0.875rem "Avenir-Demi";
  letter-spacing: 1px;
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  padding: 0.75rem 0 0.5rem;
  width: 100%;
  cursor: pointer;
}
.shows__categories-box {
  display: none;
}
.shows__button:hover {
  background: black;
}
@media screen and (min-width: 768px) {
  .shows {
    margin: 0 0 2rem;
  }
  .shows__heading {
    margin: 2.5rem 0 0 1rem;
    font-size: 2.25rem;
  }
  .shows__card {
    margin: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .shows__date, .shows__venue, .shows__date-top, .shows__location {
    padding-bottom: 0;
  }
  .shows__date-heading-top, .shows__venue-heading-top, .shows__location-heading-top {
    padding-top: 1.5rem;
    width: 30%;
  }
  .shows__venue-heading-top {
    width: 25%;
  }
  .shows__location-heading-top {
    width: 15%;
  }
  .shows__date-heading, .shows__venue-heading, .shows__location-heading {
    display: none;
  }
  .shows__venue-box, .shows__venue-top {
    width: 6.5rem;
  }
  .shows__date-box, .shows__date-box-top {
    width: 8rem;
  }
  .shows__button, .shows__button-top {
    max-width: 21%;
    height: 100%;
    padding: 0.9rem 0 0.7rem;
  }
  .shows__button-top {
    margin-top: 2rem;
  }
  .shows__categories-box {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 2.25rem;
    margin-right: 37.5%;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    margin-bottom: 2.5rem;
  }
  .shows__box {
    margin: 1rem 7rem 0 23.5rem;
  }
  .shows__section-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .shows__heading {
    margin: 3rem 7.5rem 0 7rem;
    font-size: 2.25rem;
  }
  .shows__date-heading, .shows__venue-heading, .shows__location-heading {
    display: none;
  }
  .shows__date-heading-top {
    width: 59%;
  }
  .shows__venue-heading-top {
    width: 41%;
  }
  .shows__date-box, .shows__date-box-top {
    width: 11em;
  }
  .shows__button, .shows__button-top {
    max-width: 18%;
    height: 100%;
    padding: 0.9rem 0 0.7rem;
  }
  .shows__button-top {
    margin-top: 3.25rem;
  }
  .shows__venue-box, .shows__venue-top {
    width: 6rem;
  }
  .shows__categories-box {
    margin-right: 30%;
    margin-left: 24.5rem;
  }
  .shows__card {
    margin: 0;
    padding-bottom: 1rem;
  }
}/*# sourceMappingURL=shows.css.map */